#tools {
  min-height: 100vh;
  margin-top: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: #2b2727;
}

.tool-container {
  margin-top: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.tool-image-container {
  min-height: 35vh;
  margin: 2rem;
}

.tool-title {
  font-size: 2.5rem;
  font-weight: 800;
  line-height: 50px;
}

.tool-description {
  font-size: 1.3rem;
  font-weight: 600;
  margin: 1rem 3rem;
  line-height: 28px;
}

.tool-splash-red {
  bottom: 0;
  right: 0;
}

.tool-splash-yellow {
  top: 0;
  right: 0;
  height: 30%;
}

.tool-splash-purple {
  top: 40%;
  left: 0;
  transform: translateX(-50%);
}
