* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #252323;
  font-family: "Roboto", sans-serif;
}

.padding-sides {
  padding: 0 1rem;
}

.margin-sides {
  margin: 0 2rem;
}

/*------------------------------------------------------------------
                            NAVBAR
--------------------------------------------------------------------*/
nav {
  background: #2b2727;
  -webkit-box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.25);
  height: 10vh;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav a {
  color: #a79c9c;
  text-decoration: none;
  display: inline-block;
  margin: 0 2rem;
  font-weight: 800;
  font-size: 1.5rem;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}

nav a#logo {
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  font-size: 2rem;
  margin-right: auto;
  -webkit-transform: none;
          transform: none;
}

nav a:hover {
  color: #fff;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

/*--------------------------------------------------------------------
                            Landing Page
-----------------------------------------------------------------------*/
#landing-page {
  margin-top: 10vh;
  min-height: 90vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  overflow: hidden;
}

#landing-page .landingpage-heading-container {
  position: relative;
  min-height: 90vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#landing-page .landingpage-heading-container h1 {
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  font-size: 3.5rem;
  line-height: 95px;
}

#landing-page .landingpage-heading-container .splashes {
  position: absolute;
}

#landing-page .landingpage-heading-container .splashes.splash-red {
  left: 0;
  top: 0;
  height: 30%;
  z-index: -1;
}

#landing-page .landingpage-heading-container .splashes.splash-seagreen {
  right: 0;
  z-index: -1;
  top: 10%;
  height: 40%;
}

#landing-page .landingpage-heading-container .splashes.splash-purple {
  bottom: 0;
  z-index: -1;
  -webkit-transform: translate(-50%, 50%);
          transform: translate(-50%, 50%);
}

@media only screen and (min-width: 1680px) {
  nav a {
    font-size: 2.5rem;
  }
  nav a#logo {
    font-size: 3.5rem;
  }
  #landing-page h1 {
    font-size: 6rem;
  }
  #landing-page .landingpage-image-container {
    position: relative;
    min-height: 90vh;
  }
  #landing-page .landingpage-image-container img.landingpage-illustration {
    height: 150%;
    display: none;
    width: 100%;
  }
  .splashes.splash-purple {
    height: 50%;
  }
}

@media only screen and (max-width: 1340px) {
  img.splashes.splash-seagreen {
    display: none;
  }
}
/*# sourceMappingURL=main.css.map */